/* =================
  FONT FAMILIES
font-family: 'Alatsi', sans-serif;
font-family: 'Roboto', sans-serif;
==================== */

/* =================
  CLEAR DEFAULTS
==================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}

body {
  background-color: #15212b;
}

/* =================
  TYPEOGRAPHY
==================== */

.title {
  color: steelblue;
  font-family: 'Alatsi', Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  font-size: 1.5em;
  border-bottom: 1px solid steelblue;
}

main {
  font-size: 14px;
  font-weight: 300;
}

.user-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 100px;
}

.user-link {
  letter-spacing: 1px;
}

.time-ago {
  opacity: 62%;
}

.load-more {
  color: #15212b;
}

.message {
  color: lightgray;
}

.handle {
  font-size: .9em;
  letter-spacing: 1px;
}

/* =================
  LAYOUT
==================== */

.title {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  border-bottom: 1px solid steelblue;
}

.content,
.load-more {
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

.content-header {
  padding-left: 30px;
  margin-bottom: 1.5em;
  opacity: 80%;
}

footer {
  height: 50px;
  border-top: 1px solid steelblue;
  border-bottom: 1px solid steelblue;
  margin-top: 2em;
}

.content-container {
  display: grid;
  grid-template-columns: 0 80px auto;
  grid-template-rows: auto auto;
  grid-gap: 1em;
  margin-bottom: 1em;
  min-height: 110px
}

.load-more,
.content-container {
  border: 1px solid steelblue;
}

.content-container,
.load-more,
.user-container {
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.15);
}

.user-image {
  grid-column: 2 / 3;
  grid-row: 1/ 3;
  margin-top: 1em;
  border: 1px solid #4682b452;
  box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.15);
}

.content-text{
  display: flex;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin-top: 1em;
  margin-right: 1em;
  justify-content: space-between;
}

.user-name,
.time-ago {
  margin-right : .5em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.time-ago {
  display: block;
  text-align: right;
}

.message {
  grid-column: 3 / 4;
  grid-row: 2;
  margin-right: 1.2em;
  margin-bottom: 2em;
  font-size: .9em;
  letter-spacing: 1px;
  line-height: 1.3em;
  border-top: 1px solid slategray;
  padding-top: 1em;
}

.user-container {
  border: 1px solid steelblue;
  padding: 0 0 1em 1em;
  box-sizing: border-box;
}

.user-container > .content-tweet > .content-text{
  margin-bottom: 1em;
}

/* =================
  BUTTONS
==================== */

.user-link {
  text-decoration: none;
}

.user-link:hover,
.user-link:focus {
  color: #c45f00da
}

.load-more {
  display: block;
  grid-column: 3/4;
  grid-row: 3;
  text-decoration: none;
  background-color: steelblue;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;

}

.load-more:hover,
.load-more:focus {
  background-color: #c45f00da;
  border-color: #c45f00da;
}

/* =================
  NAV
==================== */

.nav-link {
  text-decoration: none;

}


/* =================
  MEDIA QUERIES
==================== */

